<!DOCTYPE html>
<html ng-app="angMod">
<head>
	<title>Breaking JS with Angular</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body ng-controller='angoller'>
	
	<div>
		<header><h1>Profile It</h1></header>
		
		<div>
			<input ng-model="newInput" ng-blur="addInput(1); hideMe('block1')" class ="blockDesign" placeholder="Click Here to Type">
			<p ng-click="showMe('block1')" ng-show="showBlock1" class="blockDesign">{{textBlock1}}</p>
			
		</div>

		<div class="relative">
			<input ng-model="newInput" ng-blur="addInput(2); hideMe('block2')" class ="blockDesign" placeholder="Click Here to Type">
			<p ng-click="showMe('block2')" ng-show="showBlock2" class="blockDesign">{{textBlock2}}</p>
		</div>

	</div>

</body>
</html>


