
* {
	box-sizing: border-box;
}


.relative {
	position: relative;
	top: 100px;
}

.blockDesign {
	height: 30px;
	width: 150px;
	margin: 0;
	margin-bottom: 3px;
	margin-left: 10%;
	padding: 3px 0 0 6px;
	border-style: solid;
	border-color: grey;
	background-color: rgba(230, 230, 230, 1);
	display: block;
	position: absolute;
	overflow: hidden;
}

